<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <header>
        <h1><a href="/"><ruby>한국 모임 카를스루에<rt>K o r e a - S t a m m t i s c h &nbsp; K a r l s r u h e</rt></ruby></a></h1>                
        <img src="/assets/images/header.jpg">
    </header>
                    
    <body>
        {% include navigation.html %}
	{{ content }}
			
	</div><!-- /.container -->
	<footer>
	<ul>
	    <li>Quellcode auf <a href="https://github.com/korea-stammtisch-karlsruhe/korea-stammtisch-karlsruhe.github.io">Github</a></li>
	</ul>
	</footer>
    </body>
</html>
